.content {
  margin: 100px auto;
  width: 400px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #9C9C9C;
  background-color: white;
}

.form__heading {
  background-color: #3560F6;
  color: white;
  font-size: 13px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: left;
  border-radius: 5px 5px 0 0;
}

.form-content {
  margin-left: -30px;
}

.form__input {
  border: none;
  outline: none;
  border-bottom: solid 2px #9C9C9C;
  margin: 10px 50px;
  width: 90%;
}

.form__group {
  margin: 10px auto;
  padding: 5px 0;
  width: 300px;
}

.error-message {
  color: red;
  text-align: center;
}

.form__group:nth-child(1) {
  background: url(../../image/icon/icon_person.png) no-repeat;
  background-position: left;
  background-size: 10%;
}
.form__group:nth-child(3) {
  width: 300px;
  background: url(../../image/icon/icon_mail.png) no-repeat;
  background-position: left;
  background-size: 10%;
}
.form__group:nth-child(5) {
  width: 300px;
  background: url(../../image/icon/icon_key.png) no-repeat;
  background-position: left;
  background-size: 10%;
}

.form__button-submit {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #3560F6;
  padding: 5px 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.form__button {
  text-align: right;
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .content {
    width: 80%;
  }
  .form__input {
    margin: 20px 80px;
  }

}

