body {
	max-width: 1230px;
	min-width: 769px;
	margin: 0 auto;
	overflow-x: hidden;
	background-color: #EEEEEE;
}

main {
	padding-top: 50px;
}

.header-menu {
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 2;
	top: 0;
	background-color: #EEEEEE;
}

.header-logo {
	color: #3560F6;
	position: fixed;
	margin-left: 50px;
}

.menu-container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header-button {
	display: block;
	position: fixed;
	top: 28px;
	z-index: 3;
	cursor: pointer;
	background-color: #3560F6;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #9C9C9C;
}

.bar {
	display: block;
	height: 1px;
	margin: 8px;
	background-color: white;
	transition: 0.4s;
}

.bar:nth-child(1) {
	width: 10px;
}

.bar:nth-child(2) {
	width: 20px;
}

.bar:nth-child(3) {
	width: 5px;
}

#menu-toggle:checked~.header-button .bar:nth-child(1) {
	transform: rotate(48deg) translate(5px, 6px);
	width: 25px;
}

#menu-toggle:checked~.header-button .bar:nth-child(2) {
	opacity: 0;
}

#menu-toggle:checked~.header-button .bar:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -7px);
	width: 25px;
}

#menu-toggle {
	display: none;
}

.nav {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	transition: 0.4s;
	z-index: 2;
	overflow-y: auto;
}

#menu-toggle:checked~.nav {
	top: 0;
}

.nav ul {
	list-style: none;
	padding: 20px;
	margin-top: 100px;
	text-align: center;
}

.nav ul li a {
	text-decoration: none;
	color: #3560F6;
	display: block;
	padding: 10px 0;
	transition: 0.2s;
}

.header-nav__link,
.header-nav__button {
	font-size: 18px;
}

.header-nav__button {
	text-decoration: none;
	border: none;
	cursor: pointer;
	background-color: inherit;
	color: #3560F6;
	font-size: 18px;
}

.wrapper {
	margin-top: 100px;
}

.form-logout {
	padding: 8px;
}

@media screen and (max-width: 768px) {
	.header-nav__link,
	.header-nav__button {
		font-size: 30px;
	}

}