.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* 店舗詳細 */
.content__shop-detail {
  width: 45%;
  margin-top: 40px;
}

.shop__tittle-name {
  display: inline;
  margin: 10px;
}

.shop-all__link {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 3px 8px;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
}

.shop-img {
  margin-top: 20px;
}

.shop-img img {
  width: 100%;
}

.shop-tag__area,
.shop-tag__genre,
.review-link {
  display: inline-block;
}

.review-link {
  margin-left: 10px;
}

.review-link {
  width: 100%;
  margin: 30px auto 0;
}

.review-link__button {
  display: block;
  width: 100%;
  background-color: #3560F6;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.shop-detail {
  margin-top: -20px;
}

.review-posting {
  margin: 30px 0;
}

.review-posting__link {
  cursor: pointer;
  color: black;
  font-size: 18px;
}

/* 口コミ内容 */
.review {
  border-top: solid 2px #D2D2D2;
  border-bottom: solid 2px #D2D2D2;
  margin-top: 30px;
  padding: 20px 0;
}

.review-button {
  display: flex;
  justify-content: flex-end;
}

.review-edit__link {
  color: black;
  margin-right: 20px;
}

.review-delete__button {
  border: none;
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}

.review-stars {
  position: relative;
  width: 206px;
  font-size: 40px;
  display: inline-block;
  color: #D2D2D2;
}

.review-stars::before,
.review-stars::after {
  content: '★★★★★';
}

.review-stars::after {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  color: #003FF5;
}

.review-stars[data-rate="5"]::after {
  width: 100%;
}

.review-stars[data-rate="4"]::after {
  width: 80%;
}

.review-stars[data-rate="3"]::after {
  width: 60%;
}

.review-stars[data-rate="2"]::after {
  width: 40%;
}

.review-stars[data-rate="1"]::after {
  width: 20%;
}

.review-comment__text {
  white-space: pre-wrap;
}

.review-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* 予約 */
.message {
  color: red;
  font-size: 20px;
}

.message-list {
  list-style: none;
}

.content__shop-reservation {
  width: 45%;
}

.content__shop-reservation--main {
  width: 100%;
  background-color: #3560F6;
  padding: 20px 20px 200px;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 2px #9C9C9C;
  color: white;
}

.reservation__date-input,
.reservation__time-select,
.reservation__number-select {
  height: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reservation__date-input {
  border: none;
  outline: none;
  width: 30%;
}

.reservation__time-select,
.reservation__number-select {
  width: 90%;
  padding-left: 5px;
}

.shop-reservation__list {
  background-color: #5580F7;
  width: 85%;
  padding: 20px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.reservation__data {
  padding-right: 40px;
}

.reservation__submit {
  width: 100%;
  background-color: #003FF5;
  text-align: center;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 2px #9C9C9C;
}

.reservation__submit-button {
  background-color: #003FF5;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .content__shop-detail {
    width: 90%;
    margin: 0 auto;
  }

  .content__shop-reservation {
    width: 90%;
    margin: 0 auto;
  }

  .content__shop-reservation--main {
    padding: 20px;
  }
}