/* 検索 */
.search-box {
  text-align: right;
  position: fixed;
  top: 25px;
  right: 100px;
  display: flex;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  width: 40%;
}

.search-form {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.search__select {
  height: 30px;
  width: 100px;
  border: none;
  margin-right: 5px;
  border-right: solid 1px #9C9C9C;
  outline: none;
}

.search__keyword-input {
  height: 30px;
  width: 20%;
  padding: 10px;
  border: none;
  outline: none;
}

.search__button-submit {
  background: url(../image/icon/icon_search.png) no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;
  cursor: pointer;
  width: 30px;
}

/* 飲食店リスト */
.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.shop__list {
  width: 23%;
  background-color: white;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
  margin: 5px;
}

.shop__img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.shop__container {
  padding: 0 15px 15px;
}

.shop-name {
  font-size: 20px;
}

.shop__container-tag {
  margin-top: -25px;
  font-size: 12px;
}

.shop__container-tag--area,
.shop__container-tag--genre {
  display: inline-block;
}

.shop__container-foot {
  display: flex;
  justify-content: space-between;
}

.shop__container-foot--detail {
  background-color: #3560F6;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  padding: 2px 10px;
}

.shop-detail__link {
  font-size: 13px;
  color: white;
  text-decoration: none
}

.button__submit-un_fav {
    font-size: 30px;
    margin-top: -10px;
    border: none;
    color: #9C9C9C;;
    background-color: white;
    cursor: pointer;
    text-decoration: none
}

.button__submit-fav {
  font-size: 30px;
  margin-top: -10px;
  border: none;
  color: red;
  background-color: white;
  cursor: pointer;
}

