/* 検索 */
.search-sort {
  position: fixed;
  top: 25px;
  right: 700px;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  width: 150px;
}

.sort__select {
  height: 30px;
  width: 100%;
  border: none;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  appearance: none;
  padding: 0 7px;
}

.search-bar {
  position: fixed;
  top: 25px;
  right: 100px;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  width: 500px;
  flex-wrap: wrap;
  display: flex;
}

.search__select {
  height: 30px;
  width: 80px;
  border: none;
  margin-right: 5px;
  border-right: solid 1px #9C9C9C;
  outline: none;
  cursor: pointer;
}

.search__keyword-input {
  height: 30px;
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
}

.search__button-submit {
  background: url(../icon/icon_search.png) no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;
  cursor: pointer;
  width: 30px;
}

/* 飲食店リスト */
.content {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  width: 100%;
}

.shop__list {
  width: 23%;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
  margin: 10px;
}

.shop__img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.shop__container {
  padding: 0 15px 15px;
}

.shop-name {
  font-size: 20px;
  display: inline-block;
}

.shop__container-tag {
  margin-top: -25px;
  font-size: 12px;
}

.shop__container-tag--area,
.shop__container-tag--genre {
  display: inline-block;
}

.shop__container-foot {
  display: flex;
  justify-content: space-between;
}

.shop__container-foot--detail {
  background-color: #3560F6;
  box-shadow: 2px 2px 2px #9C9C9C;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  padding: 2px 10px;
}

.shop-detail__link {
  font-size: 13px;
  color: white;
  text-decoration: none
}

.button__submit-un_fav {
  font-size: 30px;
  margin-top: -10px;
  border: none;
  color: #9C9C9C;
  ;
  background-color: white;
  cursor: pointer;
  text-decoration: none
}

.button__submit-fav {
  font-size: 30px;
  margin-top: -10px;
  border: none;
  color: red;
  background-color: white;
  cursor: pointer;
}

/* 星評価 */
.shop-review {
  display: inline-block;
}

.shop-tittle__group {
  white-space: nowrap;
}

.review-average {
  color: red;
}

.review-rate {
  position: relative;
  color: #D2D2D2;
  font-size: 20px;
  white-space: nowrap;
  width: 100px;
  display: inline-block;
}

.review-rate::before,
.review-rate::after {
  content: '★★★★★';
}

.review-rate::after {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  color: gold;
}

.review-rate[data-rate="5"]::after {
  width: 100%;
}

.review-rate[data-rate="4.5"]::after {
  width: 90%;
}

.review-rate[data-rate="4"]::after {
  width: 80%;
}

.review-rate[data-rate="3.5"]::after {
  width: 70%;
}

.review-rate[data-rate="3"]::after {
  width: 60%;
}

.review-rate[data-rate="2.5"]::after {
  width: 50%;
}

.review-rate[data-rate="2"]::after {
  width: 40%;
}

.review-rate[data-rate="1.5"]::after {
  width: 30%;
}

.review-rate[data-rate="1"]::after {
  width: 20%;
}

.review-rate[data-rate="0.5"]::after {
  width: 10%;
}

.review-rate[data-rate="0"]::after {
  width: 0%;
}


@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }

  .search-bar {
    right: 10px;
    width: 350px;
  }

  .search__select {
    width: 70px;
  }

  .search__keyword-input {
    width: 150px;
  }

  .search-sort {
    right: 400px;
    width: 145px;
  }

  select {
    font-size: 12px;
  }

  .shop__list {
    width: 45%;
    margin: 10px auto;
  }

  .shop-name {
    font-size: 25px;
  }

  .review-rate {
    font-size: 25px;
    width: 129px;
  }

  .review-average,
  .shop__container-tag,
  .shop-detail__link {
    font-size: 15px;
  }

  .shop__container-foot--detail {
    width: 100px;
  }

  .button__submit-un_fav,
  .button__submit-fav {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .search-sort {
    top: 20px;
    left: 200px;
    width: 136px;
  }

  .search-bar {
    top: 80px;
    left: 10px;
    width: 95%;
  }

  .search__select {
    width: 70px;
    font-size: 12px;
  }

  .search__keyword-input {
    font-size: 12px;
  }

  /* 店舗リスト */
  .content {
    margin: 160px auto 0;
  }

  .shop__list {
    width: 90%;
  }

  .shop-name {
    font-size: 30px;
  }

}